 @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: aliceblue;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container{
    background-color: #ff8066;
    width: 100vw;
    height: 100vh;
}

.align-center{
    width: 80%;
    margin: 0 auto;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
}

.logo{
    color: #4a0000;
    font-weight: 600;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #010101;
    transition: all 0.3s ease;

}

nav ul li a:hover{
    font-weight: 600;
    letter-spacing: 0.15rem;

}


.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
   
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}


.text-content h3{
    font-size: 2rem;
}

.text-content p{
    font-weight: 500;
    font-size: 1.3rem;
}



.img-content img{
    transition: 0.3s ease;

}

.img-content img:hover{
    filter: drop-shadow(16px 5px 20px rgb(27, 24, 24));
    cursor: pointer;
    
}
.buttons{
    margin-top: 1.5rem;
    display: flex;
    gap: 1.4rem;
    
}

.btn{
    position: relative;
    height: 45px;
    width: 150px;
    background-color: bisque;
    outline: none;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 1rem;  cursor: pointer;
    box-shadow: inset 0 0 0 0 #725AC1;
    transition: all 0.5s ease-out;
}

.btn:hover{
    font-weight: 600;
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

.about-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
    height: 100vh;
}


.about-me h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.about-me p{
    line-height: 1.7;
    font-size: 1.2rem;
}

.about-me span{
    color: red;
    font-weight: 600;
}


.skill-section{
    /* background-color: #234567; */
    background-color: #483d3f;
    /* background-color: #ea526f; */
    /* background-color: #bb4430; */
    /* background-color: #4f5d75; */ 
}


.skill-section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    gap: 5rem;
    padding: 5rem 0;
}

.skill-section-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills-heading{
    color: yellow;
    font-size: 2rem;
    font-weight: 700;
}

.skills-subheading{
    color: #fff;
    font-weight: 500;
}

.skill-section-img{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill-section-img img{
    width: 15%;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
   
    
}

.skill-section-img img:hover{
    transform: scale(1.1);
}


/* project section  */

.projects-section{
    width: 100vw;
    background-color: #d1cfcf;
}

.project-header{
    font-size: 3rem;
    padding-top: 3rem;
    text-align: center;
}

.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}


.project-card{
    width: 90%;
    height: 550px; 
    /* background: url(assets/annih_web.png); */
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 40px #1f1f1f;
    position: relative;
}

.bg-img-cont {
    background-size: contain !important;
    background-position: center !important;
}


.project-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000009a;
    transform: scaleX(1);
    z-index: 0;
}

.project-card::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #58639e, #363e6bbe, #3b436b7c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    position: absolute;
    color: #fff;
    font-size: 200px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 8;
}

.project-card:hover .project-number,
.project-card:hover .project-content{
    opacity: 1;
}

.project-number-right{
    right: -10px;
    top: -50px;
}
.project-number-left{
    left: -10px;
    top: -50px;
}

.project-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    color: #fff;
    padding: 4rem;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
    opacity: 0;
}

.project-right{
    margin-left: 22rem;
}

.project-card:hover .project-content{
    transform: scale(1.1);
}


.project-skills-container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-skills-container img{
    width: 40px;
    height: auto;
}

.project-heading{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
}

.project-subheading{
    width: 70%;
    font-size: 1rem;
    font-style: italic;
  
}

.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}
.btn-grp a i{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.4s ease;
    
}

.btn-grp a i:hover{
    color: orange;
}

#project1{
    background: url(assets/stream_web.png);
}

#project2{
    background: url(assets/annih_web.png);
    margin-left: 120px;
}

#project3{
    background: url(assets/food\ web\ ss.png);
}

/* contact us  */

.contactus-form-container{
    width: 100%;
    background-color: rgba(231, 231, 231, 0.8);
}


.contactus-container{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.contactus-heading{
    font-size: 3rem;
    color: rgb(255, 136, 0);
    padding-top: 2rem;
    margin-left: 5rem;
}

.contactus-subheading{
    font-size: 2rem;
    color: #3b436b7c;
    margin-left: 5rem;
    text-transform: capitalize;
}

.contact-us-form-container{
    margin-top: 2rem;
}

.formfield-cotainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.formfield{
    width: 60%;
    height: 2.9rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px #1f1f1f;
}

.formfield-textarea{
    height: auto;
}




/* footer section  */

.footer-section{
    width: 100%;
    background-color: #b4b4b4;
}

.footer-sec-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}


.footer-sec-icons{
    display: flex;
    gap: 1rem;
}

.fa-brands{
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}
